/* # Front-end Style Guide

## Layout

The designs were created to the following widths:

- Mobile: 375px
- Desktop: 1440px

## Colors

### Primary
- Light Grayish Blue (Empty Slider Bar): hsl(224, 65%, 95%)

- Soft Cyan (Full Slider Bar): hsl(174, 77%, 80%)
- Strong Cyan (Slider Backround): hsl(174, 86%, 45%)
- Light Grayish Red (Discount Background): hsl(14, 92%, 95%)
- Light Red (Discount Text): hsl(15, 100%, 70%)
- Pale Blue (CTA Text): hsl(226, 100%, 87%)

### Neutral

- White (Pricing Component Background): hsl (0, 0%, 100%)
- Very Pale Blue (Main Background): hsl(230, 100%, 99%)
- Light Grayish Blue (Toggle Background): hsl(223, 50%, 87%)
- Grayish Blue (Text): hsl(225, 20%, 60%)
- Dark Desaturated Blue (Text & CTA Background): hsl(227, 35%, 25%)

## Typography

### Body Copy

- Font size (Introductory Paragraph): 15px

### Font

- Family: [Manrope](https://fonts.google.com/specimen/Manrope)
- Weights: 600, 800
 */

@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@800&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

p {
    color: rgb(168, 167, 167);
    font-family: 'Manrope';
}

body {
    background-image: url('images/bg-pattern.svg');
    background-repeat: no-repeat;
    background-position-y: 50%;
    background-size: cover;
    display: flex;
    flex-wrap: wrap;
    background-color: hsl(230, 100%, 99%);
}

.container {
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    position: relative;
    width: 500px;
}

header {
    background-image: url('images/pattern-circles.svg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    margin: 40px 0;
    flex: 100%;
    text-align: center;
    line-height: 40px;
    height: 150px;
    display: flex;
}

.center {
    margin: auto;
}

h2 {
    color: hsl(227, 35%, 25%);
    margin: auto;
    font-weight: bolder;
}

.card {
    display: flex;
    justify-content: space-between;
    margin: auto;
    flex-wrap: wrap;
    background-color: white;
    padding: 30px;
    position: absolute;
    left: 0%;
    top: 100%;
    box-shadow: 0px 4px 15px rgb(235, 232, 232);
    border-radius: 10px;
}

.money {
    font-size: 32px;
    font-weight: bold;
    display: flex;
    align-items: center;
}

.dollar {
    color: hsl(227, 35%, 25%);
    margin-right: 5px;
    font-family: Manrope;
}

#month {
    font-size: 15px;
    font-family: none;
    font-weight: 500;
}

.page-review {
    align-self: center;
    text-transform: uppercase;
    letter-spacing: 2px;
}

input[type=range] {
    flex: 100%;
    margin: 30px 0;
    height: 8px;
    background: hsl(174, 77%, 80%);
    opacity: 0.7;
    -webkit-appearance: none;
    border-radius: 10px;
    outline: none;
    position: relative;
    /*
- Light Grayish Blue (Empty Slider Bar): hsl(224, 65%, 95%)

- Soft Cyan (Full Slider Bar): hsl(174, 77%, 80%)
- Strong Cyan (Slider Backround): hsl(174, 86%, 45%)  */
}

input[type=range]::-webkit-slider-thumb {
    height: 40px;
    width: 40px;
    cursor: pointer;
    appearance: none;
    background-color: hsl(174, 86%, 45%);
    border-radius: 50%;
    background-image: url('images/icon-slider.svg');
    background-repeat: no-repeat;
    background-position: center;
    box-shadow: 0px 15px 25px hsl(174, 77%, 80%), 0px 15px 25px hsl(174, 77%, 80%);
}

input[type=range]::-moz-range-thumb {
    height: 40px;
    width: 40px;
    cursor: pointer;
    appearance: none;
    background-color: hsl(174, 86%, 45%);
    border-radius: 50%;
    background-image: url('images/icon-slider.svg');
    background-repeat: no-repeat;
    background-position: center;
    box-shadow: 0px 15px 25px hsl(174, 77%, 80%), 0px 15px 25px hsl(174, 77%, 80%);
    border: none;
}

input[type=range]::-moz-range-track {
    background: hsl(224, 65%, 95%);
    height: 8px;
}

input[type=range]::-moz-range-progress {
    background-color: hsl(174, 77%, 80%);
    height: 8px;
    border-radius: 10px;
}

.billing {
    flex-basis: 100%;
    display: flex;
    justify-content: center;
    margin: 20px 0;
}

.billing>p,
#toggle {
    font-size: 12px;
    margin: 5px;
    align-items: center;
    border-radius: 10px;
    padding: 3px;
    text-transform: capitalize;
}

#toggle {
    height: 25px;
    width: 45px;
    background-color: hsl(223, 50%, 87%);
    position: relative;
    border-radius: 50px;
}

#circle {
    background-color: white;
    height: 18px;
    width: 18px;
    position: absolute;
    top: 50%;
    transform: translate(0%, -50%);
    left: 0%;
    border-radius: 50%;
    transition: all .5s;
    cursor: pointer;
}

#discount {
    color: hsl(15, 100%, 70%);
    background-color: hsl(14, 92%, 95%);
    text-transform: capitalize;
    font-weight: bold;
    text-transform: lowercase;
}

button {
    flex-basis: 30%;
    border-radius: 50px;
    border: none;
    background-color: hsl(227, 35%, 25%);
    color: hsl(226, 100%, 87%);
    height: 45px;
    align-self: center;
}

.marked>p {
    line-height: 35px;
    font-family: none;
}

img {
    margin-right: 10px;
}

@media screen and (max-width:1440px) {
    body {
        background-size: auto;
        background-position-y: 30%;
    }
}

.sign {
    display: flex;
    flex: ;
}

.small-par {
    font-size: 13px;
}

@media screen and (max-width:720px) {
    .container {
        width: 70%;
    }
    .card {
        justify-content: center;
    }
    .money {
        order: 3;
    }
    .page-review {
        order: 1;
    }
    input {
        order: 2;
    }
    .billing {
        order: 3;
    }
    .marked {
        order: 4;
    }
    button {
        order: 5;
        flex-basis: 70%;
    }
    body {
        justify-content: center;
    }
    header {
        flex-basis: 40%;
    }
}